#!/usr/bin/make -f

#export DH_VERBOSE=1

build:

clean:
	dh_testdir
	dh_testroot
	rm -rf .bzr*
	rm -rf .project
	rm -rf .pydevproject
	dh_clean

binary-indep: clean
	dh_testdir
	dh_testroot
	dh_installdirs
	dh_install
	dh_installchangelogs -psamsung-scripts
	dh_installdocs -psamsung-scripts
	dh_installinit --no-start
	dh_installdeb
	dh_fixperms
	dh_gencontrol
	dh_builddeb

binary:	binary-indep

binary-arch: binary

.PHONY: binary-arch binary binary-indep clean
